.main {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.line {
    width: 100%;
    height: 50%;
    background-color: blue;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: row;
}

.videoContainer {
    width:100%;
    height:100%;
    flex: 1;
}

.openFile {
    font-size: 16px;
    width: 100px;
    color: white;
    background-color: #666666;
    margin: 20px;
}

.openFile:hover {
    background-color: #45b005;
}

.application {
    position: relative;
}

.dropArea {
    color: white;
    background-color: #444444;
    width: 300px;
    height: 160px;
    position: absolute; margin: auto; top: 0px; bottom: 0px; left: 0px; right: 0px;
    transition: opacity 500ms ease-out,
        background-color 300ms;
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.dropZone {
    font-size: 16px;
    width:100%;
    text-align: center;
}

.dropArea.droppableArea{
    background:#555555;
}

.player{
    background:rgb(0,0,0);
    height:100%;
    width:100%;
}

.errMsg {
    background-color: yellow;
}

.hide{
    display:none;
}

.header {
    position: absolute;
    top: 0px;
    background-color: red; 
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 20px;
    -webkit-app-region: drag;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden; 
}